@page "/course"
@inherits CourseListBase

<h3>CourseList</h3>


<div class="table-responsive">
    @if (Courses == null)
    {
        <div class="spinner" ></div>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created On</th>
                    <th>Modified On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Courses)
                {
                    <tr>
                        <td>@course.Id</td>
                        <td>@course.Name</td>
                        <td>@course.CreatedOn</td>
                        <td>@course.ModifiedOn</td>
                        <td class="d-flex justify-content-evenly" >
                            <a class="btn btn-outline-warning" href="@($"course/view/{course.Id}")">View</a>
                            <a class="btn btn-outline-primary" href="#">Edit</a>
                            <button class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
