@inherits DisplayCourseBase

<tr>
    <td class="d-flex justify-content-around" >
        <div>
            <input type="checkbox" checked="@IsSelected" onchange="@CheckboxChecked" />
        </div>
        <div>
            @Course.Id
        </div>
    </td>
    <td>@Course.Name</td>
    <td>@Course.CreatedOn</td>
    <td>@Course.ModifiedOn</td>

    @if (ShowActions)
    {
        <td class="d-flex justify-content-evenly">
            <a class="btn btn-outline-warning" href="@($"course/view/{Course.Id}")">View</a>
            <a class="btn btn-outline-primary" href="@($"course/edit/{Course.Id}")">Edit</a>
            <button class="btn btn-outline-danger" @onclick="Delete_Click" >Delete</button>
        </td>
    }
</tr>
